//The base folder holds boilerplate content. It holds the styles every page of your site should receive.
//font-family: 'Muli', sans-serif;
h1, h2, h2
    font-family: 'Muli', sans-serif
h2
    font-size: 25px
p
    font-family: 'Muli', sans-serif
    font-size: 1em
a
    font-family: 'Muli', sans-serif
section
main 